*{
    margin: 0;
    padding: 0;
}



   /*------Header Section----*/
.header{
    background-color: purple;
    position: absolute;
    height: 80vh;
    width: 100%;
    position: static;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    padding: 2px auto;
}

.logo{
    padding: 10px ;
    display: flex;
    justify-content: center;
   margin: 20px ;
    
}

.logo img{
    margin-right: 20px;
    width: 60px;
}

.logo p{
    color: white;
    font-size: 40px;
    font-style: italic;
}
.navlink{
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.navlink ul li{
    display: inline-block;
    list-style: none;
    padding: 0px auto;
   margin: 0px 20px;
   position: relative;
}

.navlink ul li a{
    text-decoration: none;
    color: white;
}

.navlink ul li a::after{
    content: '';
    width: 0;
    bottom: -10px;
    left: 0;
    top: 30px;
    position: absolute;
    height: 2px;
    background: white;
    transition: .4s;
    cursor: pointer;
}

.navlink ul li a:hover:after{
    width: 100%;
}

.button{
    width: 150px;
    border-radius: 10px;
    height: 5vh;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
@media(max-width: 650px){
  .header{
    max-width: 800px;
    height: 100vh;
  }

  .navlink{
    display: block;

  }
  .navlink ul li{
    display: inline-block;
  }

}




/*------Header Section Ends----*/

.container{
    top: 10%;
    transform: translateY(50%);
    position: absolute;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.content-col{
  margin: 0px 70px;
}

.content-col h1{
    padding-top: 10%;
    color: white;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 3%;
animation-delay: 0.6s;
}

.content-col p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 7%;
    line-height: 25px;
    animation-delay: 0.8s;
}

.content-col a{
    width: 150px;
    border-radius: 10px;
    height: 5vh;
    text-align: center;
    cursor: pointer;
    padding: 10px 40px;
    color: black;
    text-decoration: none;
    background: white;
    margin-right: 40px;
    font-size: 15px;
    animation-delay: 1s;
}

    span{
        background: white;
    }


.content-col img{
    width: 400px;
    animation-delay: 0.6s;
}

@media(max-width: 650px){
   .container{
    max-width: 650px;
    display: block;
   }
   .content-col {
    display: block;

   }
   .content-col h1{
    padding-bottom: 10px;
    display: block;
    font-size: 20px ;
   }
   .content-col p{
    padding-bottom: 20px;
    font-size: 15px ;
   }
   .content-col a{
      margin-bottom: 60px;
   }
   .content-col img{
    width: 300px;
    display: block;
    margin-top: 20px;
   }
   .content-col a{
    
   }

}








/*----Header Ends---*/

.different{
    color: purple;
    text-align: center;
    margin-top: 5%;
    width: 100%;
    justify-content: center;
}

.different p{
    font-size: 40px;
    font-weight: 200;
}

.row{
    display: flex;
    text-align: center;
   justify-content: center;
   
}

.different-col{
    padding-top: 3%;
    flex-basis: 31%;
    text-align: center;
  margin-left: 20px;
  width: 100%;
}

.different-col h2{
    color: purple;
    font-size: 20px;
} 

.different-col p{
    color: black;
    font-size: 20px;
}

@media(max-width:  600px){
  .row{
    display: block;
    flex-direction: column;
  }
  .different p{
    font-size: 20px;
    font-weight: 100;
  }

  .different-col h2{
    font-size: 15px;
    color: purple;
  }
.different-col p{
    font-size: 15px;
}

}

.step{

    text-align: center;
    margin-top: 5%;
    width: 100%;
    justify-content: center;

}

.step p{
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 3%;
    color: purple;

}

.step-col{
    box-sizing: border-box;
   border: 1px solid purple;
   border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;
    flex-basis: 31%;
    text-align: left;
  margin-left: 20px;
  width: 50%;
  background: purple;
  padding-left: 15px;
  padding-top: 10px;

}

.step-col h3{
    color: white;
    padding: 5px 10px 5px ;

}

.step-col p{
  color: white;
  font-size: 20px;
}

.btn{
    width: 20%;
    height: 6vh;
    margin-top: 3%;
    background: transparent;
    border-radius: 10px;
    color: purple;
    border: 2px solid purple;
    font-size: 20px;
    cursor: pointer;
}
@media(max-width: 600px){
    .step{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 50px;
    }
    .step p{
        font-size: 20px;
        font-weight: 100;
        text-align: center;
        
    }

    .row{
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .step-col{
        align-items: center;
        justify-content: center;
        margin: 20px 60px 50px;
        width: 70%;
    }
    .step-col h3{
        text-align: center;
    }
    .step-col p{
        font-size: 15px;
        text-align: center;
    }
}

/*------Table Section----*/
.tables{
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.tables p{
    font-size: 30px;
    color: black;
    text-transform: uppercase;

}

.table-link{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.table-link ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.table-link ul li a{
    text-decoration: none;
    font-size: 20px;
}

.table-link ul li::after{
content: '';
left: 0;
top: 25px;
position: absolute;
height: 2px;
background: purple;
width: 0;
transition: .4s;
cursor: pointer;
bottom: -10px;
}

.table-link ul li:hover::after{
  width: 100%;
}

table{
    justify-content: center;
    text-align: center;
    width: 90%;
    border-collapse: collapse;
  background: purple;
    flex-basis: 31%;
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
}

th{
    color: white;
    font-size: 20px;
    padding: 10px;
    

}

td{
    
    padding: 10px 10px 10px 10px;

}

tr:nth-child(even){
    background: white;
    color: purple;

}
tr{
    color: white;
}



td:first-child{
    background: purple;
    color: white;
    border-right: none;
}

.step-table h4{
    font-size: 30px;

}

.step-table p{
    color: purple;
}
/*----Table section Ends-----*/


/*----Call to action Begins----*/
.cta{
    background: purple;
    text-align: center;
    justify-content: center;
   height: 60vh;
    width: 100%;
    padding-top: 8%;
    margin-top: 5%;
}
.cta h5{
    font-size: 40px;
    color: white;
    padding: 10px 0px 20px ;
}

.cta p{
    padding: 10px 0px 50px;
    color: white;
    font-size: 30px;
}
.cta a{
    background: black;
    padding: 20px 40px 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.cta img{
    
    width: 200px;
}

.discord img{
    width: 30px;
    padding-right: 10px;
}

@media(max-width: 600px){
    .cta img{
        width: 130px;
    }
    .cta h5{
        font-size: 25px;

    }
    .cta p{
        font-size: 20px;
    }
    .discord img{
        width: 35px;

    }
}

/*--------call to action Ends-----*/
@media(max-width: 600px){
    .foot h6{
        font-size: 20px;
    }
    .About h6{
        font-size: 15px;
    }

}
.footer{
    text-align: center;
    width: 100%;
    margin-top: 5%;
    
    
}


.foot{
    display: flex;
    justify-content: space-around;
    padding: 30px 20px 40px 30px;
    font-size: 20px;
    color: purple;
    cursor: pointer;
}

.foot h6{
    font-size: 40px;
    padding-bottom: 5px;
    cursor: pointer;
}

.About ul li{
   list-style: none;
    
}

.About ul li a{
    text-decoration: none;
     
 }
.Services ul li{
    list-style: none;
}

.Services ul li a{
    text-decoration: none;
}

.Support ul li{
    list-style: none;
}

.Support ul li a{
    text-decoration: none;
}

.bottom{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 15px;
}


.anim{
    opacity: 0;
    animation:  moveup  0.4s linear forwards;
    transform: translateY(30px);
}


@keyframes moveup {
  100%{
    opacity: 1;
    transform: translateY(0px);
  }

}
    
